/* CSS Document */
#bodyWarp{
	width:100%;
	min-height: 600px;
	margin:10px auto;
	box-shadow:0 1px 1px 1px #828282;
	border-radius:3px;
	background-color: #FFFFFF;
	float:left;
}

.pernav-warp{
	padding: 0;
	margin: 0 20px;
	float: right; 
}

.pernav-warp ul{
	list-style: none;
}

.pernav-warp ul li{
	color: #F9F9F9;
	font-size: 15px;
	line-height: 60px;
	float: left;
	position: relative;
}

.pernav-warp ul li img{
	width: 50px;
	height: 50px;
	margin: 5px;
	border-radius:10px;
}

.pernav-warp ul li:hover{
	text-shadow: 0 2px 1px #000000;
	background-color: #363D40;
}

.pernav-warp ul li:hover ul{
	display: block;
}

.pernav-warp ul li ul{
	display: none;
	position: absolute;
	top: 60px; 
	right: 0px;
}

.pernav-warp ul li ul li{
	width: 100px;
	text-align: center;
	background-color: #363D40;
	box-shadow: 0 0px 1px 0px #828282;
}

.pernav-warp ul li ul li:hover{
	background-color: #2A2C2E;
}

.pernav-warp ul li ul li span{
	padding: 0 20px;
	line-height:35px;
	display: block;
}

.pernav-warp ul li ul li a{
	padding: 0 20px;
	color: #F9F9F9;
	text-decoration: none;
	line-height:35px;
	display: block;
}



.listnav-warp{
	padding:0;
	margin:0 50px;
	float:left;
}

.listnav ul{
	list-style:none;
}

.listnav ul li{
	width:160px;
	line-height:60px;
	float:left;
	position: relative;
}

.listnav ul li span{
	display:block;
	padding:0 40px;
	font-size:20px;
	color:#F9F9F9;
}

.listnav ul ul{
	display: none;
	position: absolute;
	top: 60px;
	left: 0px;
}

.listnav ul ul li{
	width: 100px;
	background-color: #363D40;
	position: relative;
}

.listnav ul ul li span{
	font-size: 15px;
	padding: 0 20px;
	line-height:40px;
	display: block;
}

.listnav ul ul li a{
	color: #F9F9F9;
	text-decoration: none;
	font-size: 15px;
	padding: 0 20px;
	line-height:40px;
	display: block;
}
	
.listnav ul ul ul{
	display: none;
	position: absolute;
	top: 0px;
	left: 100px;
}

.listnav ul ul ul li{
	background-color: #2A2C2E;
	position: relative;
}

.listnav ul ul ul a{
	display: block;
	color: #F1F1F1;
	text-decoration:none;
	font-size: 15px;
	padding: 0 20px;
	line-height:40px;
}

.listnav ul ul ul ul{
	display: none;
}

.listnav ul ul ul ul li{
	background-color: #363D40;
}

.listnav ul li:hover{
	background-color: #363D40;
	text-shadow: 0 2px 1px #000000;
	box-shadow: 0 0px 1px 0px #828282;
}

.listnav ul li:hover ul{
	display: block;
}

.listnav ul li:hover ul li{
	box-shadow: 0 0px 1px 0px #828282;
}

.listnav ul li:hover ul ul{
	display: none;
}

.listnav ul ul li:hover{
	background-color: #2A2C2E;
}

.listnav ul ul li:hover ul{
	display: block;
}

.listnav ul ul li:hover ul ul{
	display: none;
}

.listnav ul ul ul li:hover{
	background-color: #363D40;
}

.listnav ul ul ul li:hover ul{
	display: block;
}

.listnav ul ul ul ul li:hover{
	background-color: #2A2C2E;
}

/*导师信息*/
#Tinfo{
	width: 900px;
	margin: 10px 5px;
	float: left;
	color: #363737;
	transition: box-shadow 0.9s linear, background-color 0.8s ease;
	/*border: 1px solid silver;*/
}

#Tinfo:hover{
	color: #171717;
	background-color: #F7FEFF;
	border-radius: 3px;
	box-shadow:0 1px 1px 1px #E7CFD0;
	text-shadow: 1px 1px 1px #CFCACA;
}

#Tinfo:hover .tself{
	background-color: #FFFFFF;
	border-radius: 3px;
	box-shadow:0 1px 01px 0px #E7CFD0;
}

#Tinfo:hover .dlist{
	border-radius: 3px;
	background-color: #E3DFF4;
}

.timg{
	width: 120px;
	height: 80px;
	margin: 5px 5px 5px 100px;
	/*border: 1px solid silver;*/
	float: left;
}

.timg img{
	width: 80px;
	height: 80px;
	margin-left: 20px;
}

.tname{
	padding: 0 15px;
	height: 50px;
	line-height: 50px;
	margin: 35px 10px 5px 20px;
	text-align: center;
	font-size: 30px;
	/*border: 1px solid silver;*/
	float: left;
}

.tmark{
	padding: 0 10px;
	height: 35px;
	margin: 50px 20px 5px 20px;
	/*border: 1px solid silver;*/
	font-size: 18px;
	text-align: center;
	line-height: 35px;
	float: left;
}

.line{
	width: 800px;
	height: 1px;
	border: none;
	margin: 5px 50px;
	background-color: #999999;
	float: left;
}

.tself{
	width: 700px;
	height: 100px;
	padding: 5px 10px;
	line-height: 30px;
	font-size: 20px;
	/*自动换行*/
	word-wrap: break-word;
	margin: 5px 100px;
	/*border: 1px solid silver;*/
	transition: box-shadow 1.2s linear, background-color 1.4s ease;
	float: left;
}

.tContactway1{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 80px;
	height: 25px;
	/*border: 1px solid silver;*/
	float: right;
}

.tContactway2{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 10px;
	height: 25px;
	/*border: 1px solid silver;*/
	float: right;
}

.cwtitle{
	font-size: 12px;
	padding: 0 3px;
	line-height: 25px;
}

.cw{
	font-size: 12px;
	padding: 0 3px;
	line-height: 25px;
}

.dtitle{
	height: 25px;
	line-height: 25px;
	padding: 0 5px;
	margin: 5px 5px 5px 100px;
	/*border: 1px solid silver;*/
	float: left;
}

.dlist{
	width: 700px;
	/*border: 1px solid silver;*/
	margin: 5px 100px;
	float: left;
	padding: 5px 10px;
}

.dlist span{
	border-radius: 5px;
	transition: background-color 1s ease;
}

.dlist:hover span{
	background-color: #A8D6DD;
}

.dwarp{
	float: left;
}


.dwarp:hover .ddes{
	background-color: #FFFFFF;
	border-radius: 3px;
	box-shadow:inset 0px 0px 1px 1px #E7CFD0;
}

.dname{
	max-width: 600px;
	height: 25px;
	line-height: 25px;
	padding: 0 5px;
	/*border: 1px solid silver;*/
	text-align: center;
	float: left;
}

.ddes{
	width: 560px;
	min-height: 50px;
	line-height: 25px;
	padding: 0 10px;
	/*border: 1px solid silver;*/
	word-wrap:break-word;
	font-size: 15px;
	transition: box-shadow 1.5s ease, background-color 1.4s ease;
	float: left;
}

.dstd{
	width: 110px;
	min-height: 25px;
	line-height: 25px;
	margin-left: 5px;
	bottom: 0px;
	/*border: 1px solid silver;*/
	text-align: center;
	float: left;
}

.sline{
	width: 690px;
	height: 1px;
	border: none;
	margin: 5px 5px;
	background-color: #999999;
	float: left;
}

/*个人信息简要*/
#infoSimpleWarp{
	margin: 10px 50px 10px 10px;
	width: 200px;
	height: 400px;
	float: right;
	border: 1px solid silver;
	box-shadow:0 1px 1px 1px #828282;
}

#infoSimpleWarp img{
	width: 200px;
	height: 200px;
	float: left;
}

#isw-name{
	width: 150px;
	display: block;
	margin: 30px 20px 20px 20px;
	float: left;
	font-size: 20px;
}

#isw-pos{
	width: 150px;
	display: block;
	margin: 0px 20px 30px 20px;
	float: left;
	font-size: 15px;
}