/* CSS Document */
#bodyWarp{
	width:100%;
	margin:10px auto;
	box-shadow:0 1px 1px 1px #828282;
	border-radius:3px;
	float:left;
	background-color: #FFFFFF;
}

/*菜单*/
.pernav-warp{
	padding: 0;
	margin: 0 20px;
	float: right; 
}

.pernav-warp ul{
	list-style: none;
}

.pernav-warp ul li{
	color: #F9F9F9;
	font-size: 15px;
	line-height: 60px;
	float: left;
	position: relative;
}

.pernav-warp ul li img{
	width: 50px;
	height: 50px;
	margin: 5px;
	border-radius:10px;
}

.pernav-warp ul li:hover{
	text-shadow: 0 2px 1px #000000;
	background-color: #363D40;
}

.pernav-warp ul li:hover ul{
	display: block;
}

.pernav-warp ul li ul{
	display: none;
	position: absolute;
	top: 60px; 
	right: 0px;
}

.pernav-warp ul li ul li{
	width: 100px;
	text-align: center;
	background-color: #363D40;
	box-shadow: 0 0px 1px 0px #828282;
}

.pernav-warp ul li ul li:hover{
	background-color: #2A2C2E;
}

.pernav-warp ul li ul li span{
	padding: 0 20px;
	line-height:35px;
	display: block;
}

.pernav-warp ul li ul li a{
	padding: 0 20px;
	color: #F9F9F9;
	text-decoration: none;
	line-height:35px;
	display: block;
}



.listnav-warp{
	padding:0;
	margin:0 50px;
	float:left;
}

.listnav ul{
	list-style:none;
}

.listnav ul li{
	width:160px;
	line-height:60px;
	float:left;
	position: relative;
}

.listnav ul li span{
	display:block;
	padding:0 40px;
	font-size:20px;
	color:#F9F9F9;
}

.listnav ul ul{
	display: none;
	position: absolute;
	top: 60px;
	left: 0px;
}

.listnav ul ul li{
	width: 100px;
	background-color: #363D40;
	position: relative;
}

.listnav ul ul li span{
	font-size: 15px;
	padding: 0 20px;
	line-height:40px;
	display: block;
}

.listnav ul ul li a{
	color: #F9F9F9;
	text-decoration: none;
	font-size: 15px;
	padding: 0 20px;
	line-height:40px;
	display: block;
}
	
.listnav ul ul ul{
	display: none;
	position: absolute;
	top: 0px;
	left: 100px;
}

.listnav ul ul ul li{
	background-color: #2A2C2E;
	position: relative;
}

.listnav ul ul ul a{
	display: block;
	color: #F1F1F1;
	text-decoration:none;
	font-size: 15px;
	padding: 0 20px;
	line-height:40px;
}

.listnav ul ul ul ul{
	display: none;
}

.listnav ul ul ul ul li{
	background-color: #363D40;
}

.listnav ul li:hover{
	background-color: #363D40;
	text-shadow: 0 2px 1px #000000;
	box-shadow: 0 0px 1px 0px #828282;
}

.listnav ul li:hover ul{
	display: block;
}

.listnav ul li:hover ul li{
	box-shadow: 0 0px 1px 0px #828282;
}

.listnav ul li:hover ul ul{
	display: none;
}

.listnav ul ul li:hover{
	background-color: #2A2C2E;
}

.listnav ul ul li:hover ul{

	display: block;
}

.listnav ul ul li:hover ul ul{
	display: none;
}

.listnav ul ul ul li:hover{
	background-color: #363D40;
}

.listnav ul ul ul li:hover ul{
	display: block;
}

.listnav ul ul ul ul li:hover{
	background-color: #2A2C2E;
}

/*表格*/
#pTitle{
	padding: 15px 0;
	font-size:25px;
	font-weight:bold;
	text-align: center;
}

.tableWarp{
	width: 100%;
	padding: 50px 0 50px 0;
}

.tableWarp form{
	width: 500px;
	margin: 0 auto;
}

.tableWarp form table{
	font-size: 20px;
	color: #4D5357;
}

.tableWarp form table td{
	line-height:40px;
}

/*提示*/
.remindTD{
	position: relative;
}

.remindTD img{
	width: 20px;
	height: 20px;
	margin: 10px;
}

	/*提醒框*/
.remindWarp{
	display: none;
	top: 5px;
	left: 40px;
	width: 200px;
	position: absolute;
}

.remindWarp span{
	margin: 10px 0 45px -5px;;
	border-style: solid;
	border-width: 5px;
	border-color: transparent #838CFB transparent transparent;
	float: left;
}

.remindText{
	width: 190px;
	height: 60px;
	line-height: 28px;
	border: 1px solid #838CFB;
	border-radius: 5px;
	background-color: #FAFFC9;
	box-shadow: 1px 1px 1px 0px #838CFB;
	font-size: 12px;
	float: left;
}

/*文本框*/
.inputType{
	width: 180px;
	padding: 0 5px;
	line-height: 30px;
	font-size: medium;
	color: #4D5357;
	border: 1px solid #C5C5C5;
}
/*自我介绍文本框*/
.inputTypeA{
	min-height: 100px;
	max-height: 100px;
	min-width: 360px;
	max-width: 360px;
	padding: 5px 5px;
	line-height: 30px;
	font-size: 13px;
	color: #4D5357;
	border: 1px solid #C5C5C5;
}

.imgWarp{
	padding: 20px 0;
	float: left;
	width: 200px;
	height: 300px;
}

.imgWarp img{
	width: 200px;
	height: 200px;
}

.imgWarp span{
	display: block;
	margin-top: 10px;
	padding: 5px 70px;
	font-size: 15px;
	font-weight: bold;
	color: #DBFFFE;
	background-color: #838CFB;
	border-radius: 5px;
	cursor: pointer;
}

.imgWarp span:hover{
	background-color: #6267DB;
}

.imgWarp span:active{
	background-color: #3436A5;
}

.btnWarp{
	width: 100%;
	float: left;
	padding: 10px 480px;
	margin-bottom: 200px;
}

.btnWarp span{
	text-align: center;
	display: block;
	width: 100px;
	margin: 0 10px;
	line-height: 40px;
	font-size: 15px;
	font-weight: bold;
	color: #DBFFFE;
	background-color: #838CFB;
	border-radius: 5px;
	cursor: pointer;
	float: left;
}

.btnWarp span:hover{
	background-color: #6267DB;
}

.btnWarp span:active{
	background-color: #3436A5;
}